/* #052424
#113838 */

/* common styles */


*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
/* scrolling bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 200rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor:pointer;
}
/* end scrolling bar*/
.not-allowed {
    cursor: not-allowed !important;
}

input{ 
    color :#000;
    font-weight: bold;

}
html{
    font-size: 62.5%;
}

body{
    background-color: #DAE0E6;
}

/* --end of common styles-- */

/* Main page */
.main-page{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* end of main Page */

/* Styling left side */
.left{
    background-color: rgb(0, 0, 0) ;
    display: grid;
    grid-template-rows:1fr;

}
/* end of left side */

/* start of left-container */
    .left-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .left-container div {
        display: flex;
        align-items: center;
        color: #222222;
        font-family:sans-serif !important;
    }

    .left-container div h3{
        font-family: 'IBM Plex Sans', sans-serif;
        letter-spacing: .2rem;
        color: #fff;
    }
    
   
    .fa-search{
        font-size: 2.8rem;
        margin-right: 2rem;
        font-weight: bold;
        color: #fff;
    }
    
    .fa-user-friends{
        font-size: 2.8rem;
        margin-right: 2rem;
        font-weight: bold;
        color: #fff;

    }
    .fa-comment {
        font-size: 2.8rem;
        margin-right: 2rem;
        font-weight: bold;
        color: #fff;

    }
    .left-container h3{
        font-size: 3.3rem;
        margin: 1rem 0;
        color: #fff;

        
    }
    
.right{
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}
/* middle content*/
/* left-container footer */

.right  .main-page-footer {
    display: flex;
    justify-content: center;
    height: 6rem;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap;
    width:100%;
}

.right .main-page-footer-div a{
    margin: 0 1rem;
    color: #222222;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none


}
.middle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.middle-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #222222;

}
.middle-content h4{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #222222;


}





.middle-content .fa-brain{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #222222;

}
.btn{
    width: 60%;
    height: 4.2%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-radius:100px; 
    box-shadow: none;
    padding-top: 1rem;
    text-align: center;
    border: .1rem solid #000;

}

.middle-content .sign-up{
    text-decoration: none;
    background-color:#222222;
    color: white;
    margin-top: 6rem;
    padding: 1rem;

}
.middle-content .sign-up:hover{
    background-color:#222222;
   
}
.middle-content .log-in{
    background-color: #fff;
    text-decoration: none;
    border: 0.1rem solid #222222;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    padding: 1rem;

}

.middle-content .log-in:hover{
    background-color: #222222;
    transition: background-color .3s;
    color: #fff
}

.log_in_pop_up_container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
    position: fixed;
    right: 0;
    top: 0;
    display: none;
}

.log_in_pop_up{
    width: 30%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.close_log_in{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
    color: red;
}

.log_in_pop_up_body{
    padding: 5rem 3rem;
}
/* step2 select check box */
.dropdown_step2 {
    position: relative;
  }
 
  .dropdown_step2 dd,
  .dropdown_step2 dt {
    margin: 0px;
    padding: 0px;
  }
  
  .dropdown_step2 ul {
    margin: -1px 0 0 0;
  }
  .dropdown_step2 ul li{
    color: #222;
    font-weight: bold;
    font-size: 1.4rem;
    padding: .5rem;
  }
  
  .dropdown_step2 dd {
    position: relative;
  }
  
  .dropdown_step2 a,
  .dropdown_step2 a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
    margin: 0;
    margin-left: 2rem;
    border: .2rem solid;
  }
  
  .dropdown_step2 dt a {
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 90%;
  }
  
  .dropdown_step2 dt a span,
  .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
    color: #222;
    font-weight: bold;
  }
  
  .dropdown_step2 dd ul {
    background-color: #e7eaec;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 10px;
    width: 90%;
    margin-left: 2rem;
    list-style: none;
    height: 212px;
    overflow: auto;
    border: .1rem solid grey;
  }
  
  .dropdown_step2 dd ul li input{
  float: left;
  }
  
  .dropdown_step2 span.value {
    display: none;
  }
  
  .dropdown dd ul li a {
    padding: 5px;
    display: block;
  }
  
  .dropdown dd ul li a:hover {
    background-color: #fff;
  }
  
  
/* end step2 select check box */

/* forum login */
.right-content{
    margin-top: 4rem;
    height: 4rem;
}

.right-content .right-content-form{
    display: flex;
    margin-left: 5rem;
}

.right-content .right-content-form input{
    margin-left: 1rem;
    border: 0.1rem solid #222222;
    border-radius: 1rem;
    font-weight: bold;
    padding: 1rem;
}

.right-content .right-content-form .user-password-div input{
    margin-left: 2rem;

}
.right-content .right-content-form input:focus{
background-color:#222222;
outline: none;
transition: background-color .3s;
color: #fff;
font-weight: bold;

}


.right-content .right-content-form .user-password-div{
    position: relative;
}

.right-content .right-content-form a{
    position: absolute;
    left: 3rem;
    top: 5rem;
    font-size: 1.2rem;
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}

.right-content .right-content-form .submit{
    width: 22%;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 4rem;
    font-weight: bold;
    color:#000;
    background-color: #fff;
}

.right-content .right-content-form .submit:hover{
    background-color:#222222 ;
    transition: background-color .3s;
    color : white;

}
/* end of right side */

/* MODAL STARTS HERE  */

.bg-modal {
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.modal-contents {
	height: 550px;
	width: 450px;
	background-color: #ffffffbf;
	text-align: center;
	position: relative;
}

.no_post_yet{
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
}

.modal-contents_step_2{
    height: 85%;
	width: 40%;
	background-color: #ffffff;
	text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content;
}
.left_side_registration{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
    background: #000000e0;
    height: 100%;
}
.left_side_registration_step_2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
    background: #1f1f1f99;
    height: 100%;
    flex-direction: column;
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
}
.right_side_registration{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}
.create_account_log_in_options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.create_account_footer{
    height: 5rem;
}
.create_account_header{
 
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.create_account_email_header{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.create_account_header_text{
    padding-bottom: 7rem;
    font-size: 1.6rem;
    font-weight: bold;
}
.create_account_email_header_text{
    padding-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.create_account_footer{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(68, 68, 68);
}
.modal-contents .popup-input{
	margin: 12px auto;
	display: inline;
	padding: 8px;
    border: 1px solid gray;
    border: none;
    outline: none;
    border: 0.2rem solid rgb(158, 158, 158);
    padding: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    transition: border .2s; 
}

.back_to_create_account_option{
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    height: 5rem;
}

.back_to_create_account_option_arrow{
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}
.modal-contents .label a {
    color: rgb(56, 56, 184);
    font-size: 12px;
    font-weight: bold;
}
.popup{
    width: 90%;
}

.modal-contents form input .popup-input:focus {
    border: none;
    outline: none;
    border-bottom: 0.3rem solid rgb(196, 193, 193);
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	
}

.create_account_facebook_div{
    cursor: pointer;
    width: 32rem;
    background: #a5a5f3;
    border-radius: .5rem;
    display: flex;

}

.create_account_facebook_text{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 80%;
    font-weight: bold;
    color: #fff;

}
.create_account_email_div{
    cursor: pointer;
    width: 32rem;
    background: #828282;
    border-radius: .5rem;
    display: flex;

}

#form-register{
    padding: 1rem 4rem;
}

.create_account_email_text{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    width: 80%;
    font-weight: bold;
    color: #fff;

}

#button-popup {
	background-color: #1F1F1F;
	border-radius: 5px;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
    display: inline-block;
    width: 50%;
    border: 0.3rem solid #fff !important;
    cursor: pointer;
    width: 80%;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

#img-popup{
    width: 10rem;
    height: auto;
    margin-bottom: 2rem;
}

/*Notification*/


/* start of register2 */
#header-register2{
    display: inline-block;
    font-size: 2rem;
    color: rgb(34, 34, 34);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    margin: 0 3rem 3rem 3rem;

}

#paragraph-register2{
    display: flex;
    font-size: 1.3rem;
    color: rgb(105, 102, 102);
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin: .2rem;
}

#conditions{
    text-align: justify; /* For Edge */
    color: #777;
    font-size: 11px;
    font-weight: bold;
    margin: 3rem 0 0 0;
}

.input-register2{
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.input-register2:focus{
outline: .2rem solid  #052424;
}

.right-register2{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background: #1f1f1f;
}
/* end of register2 */

/* notification */
#notificationContainer{
    color:black;
}
/* end notification */

/* *********************** */

/* Strat of main page */

/* start main navigation */

#main-nav {
    width:100%;
    height: 5.1rem;
    position: fixed;
    background-color: #fff ;
    z-index: 9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;  
    border-bottom: .1rem solid #ebeaea;
      

}
.navigation-icons{
    display: flex; 
    justify-content: flex-end ;
    align-items: center;
        margin-right: 3rem;
    

}
.load_post{
margin-top: 3rem;
}
.navigation-icons a{
    font-size: 1.8rem;
    color: #222222;
    padding: .8rem;
    /* margin-bottom: .5rem; */
    margin: 0.6rem .5rem .5rem .5rem;

}
.dropbtn {
    color: white;
    /* padding: 11px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #222222;
      font-size: 1.8rem;
      font-weight: bold;
      /* margin: 0.5rem .5rem .2rem 0.5rem; */
  }
  
  .dropbtn:hover, .dropbtn:focus {
      background-color: #DAE0E6;
      border-radius: .5rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:4rem;
    left: -5.5rem;
    
  }

  #drop_down_link {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0);
  }
  #drop_down_link:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  .dropdown-content a span{
    color: grey;
    font-size: 1.2rem;
  }
  
  .dropdown_notification_container{
      display: flex;
      align-items: center;
      padding: 0rem 1rem;
      margin-top: .3rem;
  }

  #image_drop_down_profile_link{
      margin: 0;
      padding: 0;
      background-color: rgba(0, 0, 0, 0);
  }
  .dropdown_notification_header{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    padding: 1rem;
    background-color: #222;
    margin-bottom: .8rem;
  }
  .show {display: block;}
.navigation-icons a:hover{
    background-color: #DAE0E6;
    border-radius: .5rem;
}

.notification_bell {
    position: relative;
    color: #222222;
    font-size: 1.8rem;
    font-weight: bold;
}
.notification_bell_num{
    position: absolute;
    top: 2px;
    background-color: red;
    /* padding: 0.1rem; */
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 10rem;
    left: 17px;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-main{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    margin:0 .5rem .4rem .5rem



}
.input-search{
    color: #222222;
    background-color: #F6F7F8;
    border: .06rem solid #22222281;
    width: 100%;
    border-radius: .4rem;
    fill:#1c1c1c;
    outline: none;


}
.search-main .input-search-main{
    padding: 0 16px 0 40px;
    margin-bottom: .5rem;
    height: 3.2rem;
}

.input-search:focus{
    background-color: #ffffff;
    color: #222222;
    border: .06rem solid rgb(32, 118, 199);

}
.input-search:hover{
    background-color: #ffffff;
    color: #222222;
    border: .06rem solid rgb(32, 118, 199);


}

.search-main .fa-search{
    font-size: 2rem;
    margin-right: 2rem;
    margin-right: 1.5rem;
    margin-bottom: .5rem;
    position: absolute;
    top:.6rem ;
    left: 1rem;

}

.fa-bars{
    cursor: pointer;
    font-size:1.6rem;
    margin-top:.2rem;
    margin-right: .5rem;
}

/* start of user main */
.user-main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: 0 0rem 1.5rem 1rem; */
    /* padding: 0 0 1.5rem 1rem; */
    height: 100%;
    background: #fdfdfd;
    padding-left: 0.5rem;
    width: 21.5rem;
    border-right: .1rem solid #ebeaea;
}
.user-main a{
   font-size: 1.5rem;
    margin:0 1rem 0 0rem;
    text-decoration: none;
    font-weight: bold;
    color: #222222;
    display: flex;
    align-content: space-around;
}

.user-main .user-image img{
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
 }

 /* likes */
 .bottom_post_componment{
     display: flex;
     justify-content: flex-end;
 }


.iframe_like{
    height: 2rem;
    width: 10rem;
    border: none;
    
}
.likes-container{
    display: flex;
    background-color: #fff;
    height: 1.8rem;

}

.likes-container input{
    display: flex;
    margin-right: .5rem;
    
}
.like_value{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-align: start;
    color: #222222;
    font-weight: bold;
    margin-right: .2rem;
    margin-left: .5rem;
}


.comment_like{
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/* end of user main */
/* end main navigation */

/* start of main-content */
.main-content{
    padding-top:8rem;
    display: grid;
    grid-template-columns: min-content 1fr min-content; 
    column-gap: 2rem;
    width: 98vw;
}
.empty-main-content1{
    width: 22rem;
}
.empty-main-content2{
    width: 10rem;
}
.post{
    background-color: #fff;
    border-radius: .5rem;
    height: 100%;
    margin-bottom: .6rem;
    width: 100%;
}
.post hr{
    margin-top: .5rem;
}

.no_more_posts{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.post-container{
    margin: 0rem 3rem 3rem 3rem;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 98%;
}
.top-header-post{

    height: 4rem;
}
.top-header-post_top{
    display: flex;
    justify-content: space-between;
}
.top-header-post h4{
    font-size: 1.8rem;
    display: flex;
    align-items: center;

}

.top-header-post .top-header-post_bottom hr{
    /* transform :rotate(0deg); */
    margin-top: 0.5rem;
}

/*post body*/
.post-body{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    margin-top: 2rem;
}


.post-body .color-post-body {
    margin:2rem 0rem 0rem 0rem;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.486);
    border-radius: 10rem;
    /* border-radius: 10rem; */
}

.post-body-text h4{
    font-size: 1.8rem;
    text-align: start;
    margin: 1.5rem 0rem;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

.fa-ellipsis-h{
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
    background-color: #814444;
}
.post-body-text .commen_css_post_span{

    display: inline-block;
    font-size: 1.4rem;
    text-align: start;
    margin-bottom: 1.5rem;
    color: #222222;
    font-weight: bold;
}

.commen_css_post_span ul{
    margin: 0rem 2rem;
}

.ellipsis_img_post{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.post_body{
    display: inline-block;
    font-size: 1.4rem;
    text-align: start;
    margin-bottom: 1.5rem;
    color: #222222;
    font-weight: bold;
}
.image-name-post{
    display: flex;
}
.user-name-post{
    color: #222222;
    font-weight: bold;
    padding: .8rem .8rem 0 .8rem;
    height: 2.7rem;
    font-weight: bold;
    font-size: 1.4rem;

}


.bottom-post{
    margin: .5rem 5rem 0 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 7rem;
}

.bottom-post_comment{
    margin: .5rem 5rem 0 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem 7rem;
}

.images-user-post{
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
}

.user-name-timer{
    display: flex;
    justify-content: space-between;
    columns: #222222;
}
.span-icon-name{
    display: inline-block;
    font-size: 1.4rem;
    text-align: start;
    color: #222222;
    font-weight: bold;
    margin-right:.5rem;
    margin-left: .5rem;
    background-color: #fff;
    border: none;
    cursor: pointer;



}

.post-body-user-image{
    background-color: rgba(255, 73, 73, 0.837);
    width: 0rem;
    overflow: hidden;
    border-radius: 10rem;
}.span-icon-name{
    display: inline-block;
    font-size: 1.4rem;
    text-align: start;
    color: #222222;
    font-weight: bold;
    margin-right:.5rem;
    margin-left: .5rem;


}

.reply_button_div{
    display: flex;
    justify-content: flex-end;
}
.show_more_button{
    opacity: 0;
    outline: none;
    padding: .8rem;
    color: #222222;
    background-color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    border: .2rem solid #3c89c4;
    border-radius: .5rem;
    font-size: 1.6rem;
    font-weight: bold;
    transition: .3s;
    height: 4rem;
    display: flex;
    align-self: self-end;
    justify-content: center;
    color: #3c89c4;
}

.show_more_button:hover{
    
    color:#fff;
    background-color: #3c89c4;
   
}

.time_name_post{
    display: grid;
}

.timer-post{
    font-size: 1.2rem;
    color: #222;
    margin-left: .8rem;
    font-weight: bold;
}
/*show more option post*/
.dropbtn_more_option_post {
  background-color: rgba(52, 152, 219, 0);
  color: rgb(3, 3, 3);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn_more_option_post:hover, .dropbtn_more_option_post:focus {
  background-color: rgba(82, 82, 82, 0.068);
}

.dropdown_post {
  position: relative;
  display: inline-block;
}
.dropdown-content_more_option_post{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 149px;
    right: 0rem;
    overflow: auto;
    top: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    border: 1px solid #c9c9c9;
}

.dropdown-content_more_option_post div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown_post a:hover {background-color: #ddd;}

.show {display: block;}
.not_show {display: none;}

.report_button_post{
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 0.5rem;
}
.delete_post_div:hover{
 background-color: rgb(245, 245, 245);
}
.report_post_div:hover{
    background-color: rgb(245, 245, 245);
}
/*end post body*/

/* show more option comment */

/*show more option post*/
.dropbtn_more_option_comment {
    background-color: rgba(52, 152, 219, 0);
    color: rgb(3, 3, 3);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn_more_option_comment:hover, .dropbtn_more_option_comment:focus {
    background-color: rgba(82, 82, 82, 0.068);
  }
  
  .dropdown_comment {
    position: relative;
    display: inline-block;
  }
  .dropdown-content_more_option_comment{
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 149px;
      right: 0rem;
      overflow: auto;
      top: 22px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
      z-index: 1;
      border: 1px solid #c9c9c9;
  }
  
  .dropdown-content_more_option_comment div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown_comment a:hover {background-color: #ddd;}
  
  .show {display: block;}
  .not_show {display: none;}
  
  .report_button_comment{
      font-size: 1.3rem;
      font-weight: bold;
      margin-left: 0.5rem;
  }
  .delete_comment_div:hover{
   background-color: rgb(245, 245, 245);
  }
  .report_comment_div:hover{
      background-color: rgb(245, 245, 245);
  }
/* end show more option comment */
/* end of main-content */
/* start of side */
.side{
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content min-content ;
    /* border-radius: 3px 3px 3px 3px;  */ 
    width: 31rem;
    /* padding:0 2rem; */
}

.side .tags{
    background-color: #fff;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    /* border-radius: .5rem; */
    margin-top: 2rem;


}

.side .create-post-side{
    background-color: rgb(255, 255, 255);

}
.tags-friend-content img{
    width:3rem;
    height:3rem;
    border-radius:10rem;
    margin-left: .8rem
}
.header-side{
    background-color:rgb(60, 137, 196);
    height: 6.2rem;
    width: 100%;
    margin-bottom: .5rem;
    border-radius: 3px 3px 0px 0px; 
    position: relative;

}
.header-side-text{
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: .2rem;
    font-size: 1.6rem;
    color : #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:2rem;
}

.tags-friend-content{
    padding: 2rem;
}

.tags_name{
    display: flex;
    padding: .3rem;
}

.tags_name a{
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;

}

.load_friend_container{
    border-radius: .5rem;
    cursor: pointer;
    height: 4rem;
    margin: 0.3rem 0rem;
}

.load_friend_container:hover{
    background-color: rgba(60, 137, 196, 0.1);
   
    /* justify-content: center; */
}

.show_more_friends_popup_containner{
    background-color: #000000ad;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.show_more_friends_box{
    width: 45rem;
    height: 58.8rem;
    background-color: #fff;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.follow_friend_button{
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
    margin-right: 1.5rem;
    border: 0.2rem solid #3c89c4;
    padding: .6rem 2.5rem;
    border-radius: 10rem;
    display: flex;
    /* position: absolute; */
    margin-bottom: 0.1rem;
    right: 43px;
    
}

.follow_friend_button:hover{
    color: #fff;
    border: 0.2rem solid #3c89c4;
    background-color: #3c89c4;
        transition: background-color .3s;

}

.follow_suggestion_name_container{
    display: flex;  
    margin-top: .5rem;
}
.follow_friend_user_name{
    font-size: 1.3rem;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    width: 100%;
   
}
.span-button{
    width: 100%;
    border-radius: .5rem;
    color: #DAE0E6;
}
.span-button a{
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 1rem 2rem;
    padding: .8rem;
    color: rgb(60, 137, 196);
    font-weight: bold;
    text-decoration: none;
    border: .2rem solid rgb(60, 137, 196);

}

.span-button a:hover{
    background-color: rgb(60, 137, 196);
    color: rgb(253, 253, 253);
    transition: background-color .3s;
    

}

.show_more_friends_box_header{
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content 1fr min-content;
    padding: 3rem 0rem 2rem 0 ;
    margin-bottom: 2rem;
    background-color: rgba(60, 137, 196, 0.1);
}

.closing_botton_show_more_friends_div{
    width: 4rem;
    display: flex;
    align-items: center;
}

.closing_botton_show_more_friends{

font-size: 3.3rem;
    transform: rotate(45deg);
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: 3px;
    color: #ff0000b3;
    cursor: pointer;
}

.closing_botton_show_more_friends:hover{
    color: #dd0505b3;

}
.empty_show_more_friends_box_header{
    width: 4rem;
}


.input_search_friend_div{
    display: flex;
    justify-content: center;
}
.input_search_friend{
    width: 90%;
    padding: .8rem;
    border-radius: .2rem;
    border: 0.14rem solid #636262;
    font-weight: bold;
    background-color: #fff;
    padding-left: 1rem;
}

.load_friend_search_div{
    display:grid;
    grid-template-columns: min-content 1fr min-content;
    padding-top: 1rem;
}

.load_friend_search_div:hover{
    background-color: rgba(60, 137, 196, 0.1);
}

.friend_image_div_search_friend{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
/* category popup */
.load_category_search_div{
    display:grid;
    grid-template-columns: min-content 1fr min-content;
    padding-top: 1rem;
}

.load_category_search_div:hover{
    background-color: rgba(60, 137, 196, 0.1);
}

.category_image_div_search_category{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/* start of first ads */
.ads{
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
}
.first-ads{
    height: 26rem;

}

.follow-friend{
    background-color: rgb(255, 255, 255);
}

.load_suggestion_container{
    display: flex;
    flex-direction: column;
}

.input-friends-content .input-search-friend-content{
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: 92%;

}

.input-search_suggested-friend{
    margin-top: 2rem;
}



.friend_image_search_friend{
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
}

.follow_friend_button_search_friend{
    height: 2rem;
    margin-right: 2rem;
    margin-top: .2rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #222222;
    border: .2rem solid #3C89C4;
    padding: 0.5rem 2.5rem;
    border-radius: 10rem;
    cursor: pointer;
}

.follow_friend_button_search_friend:hover {
        background-color: #3C89C4;
        color: rgb(255, 255, 255);

}

.friend_name span{
    color: #222222;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    padding: .5rem 0rem;
}

.friend_commen_friends span{
    font-weight: bold;
    color: grey;
}

.no_more_result_search_friend{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0 1rem 0rem;
}


.category_image_search_category{
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;
}

.follow_category_button_search_category{
    height: 2rem;
    margin-right: 2rem;
    margin-top: .2rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #222222;
    border: .2rem solid #3C89C4;
    padding: 0.5rem 2.5rem;
    border-radius: 10rem;
    cursor: pointer;
}

.follow_category_button_search_category:hover {
        background-color: #3C89C4;
        color: rgb(255, 255, 255);

}

.category_name span{
    color: #222222;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    padding: .5rem 0rem;
}

.category_commen_categorys span{
    font-weight: bold;
    color: grey;
}

.no_more_result_search_category{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0 1rem 0rem;
}
/* end of first ads */

/* crete a post side */

.create-post-side{
    margin-top: 2rem;
    height: 15rem;
}

.header-side-text-create-post{
    font-size: 1.4rem;
}

.header-side-create-post-side{
    background-color: rgb(129, 124, 124);
}


.span-button-create-post{
    margin-top: 1.4rem;
}
.span-button-create-post a{
    padding: 1.4rem;
    background-color: rgb(60, 137, 196);
    color: rgb(253, 253, 253);
    border-radius: .8rem;
}
/* end ofcrete a post side */
/* start of second ads */
.second-ads{
    height: 31rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 6rem;
}
/* end of second ads */

/*start of footer*/
.footer{
    height: 13rem;
    margin-top: 2rem;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr min-content;
    font-size: 1.3rem;
    columns: #222222;
    padding: 2rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40rem;
}
.footer-create-post{
    height: 13rem;
    margin-top: 2rem;
    background-color: #fff;
    display: grid;
    grid-template-rows: 1fr min-content;
    font-size: 1.3rem;
    columns: #222222;
    padding: 2rem;
    position: -webkit-sticky; /* Safari */
    top: 40rem;}
.top-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 2rem;
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}
.top-footer a{
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}

.top-footer1{
    padding-left: 2rem;
}
.botton-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}
.botton-footer a{   
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}

/* start of slide menu */

.slide-menu-wraper{
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    display: block;
    transition:background-color 800ms;
}
.slide-menu{
    background-color: #fff;
    height: 100%;
    width: 20rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    color: #222222;
    margin-top: 5rem;
    border-right: .1rem solid #ebeaea;
}

.slide-menu-header{
    color: #222222;
    font-size: 2rem;
    padding-top: 1rem;
}
.user-name-menu-span{
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 1rem;
}
.slide-menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;    
}
.close_slide{
    font-size: 3.8rem;
    /* margin-right: 1.5rem; */
    font-weight: bold;
    transform: rotateY(161deg);
    color: rgb(250, 51, 51);
    transform: rotate(45deg);
    position: absolute;
    top: 46px;
    left: 19rem;
    display: none;
}

.slide-menu-profile-pic{
    display: flex;
    align-items: center;
    margin: 2rem 0rem;
}


.slide-menu-profile-pic img{
    height: 4rem;
    width:4rem;
    border-radius: 10rem;
    margin: 0rem 1rem 0 1.5rem;}

.slide-menu-profile-pic p{
    font-size: 1.6rem;
    font-weight: bold;
    color: #222222;
}

.slide-menu-profile-pic a{
    text-decoration: none;
}

.slide-menu-option {
    display: flex;
    margin:1.5rem 0 1rem 2rem;
    align-items: center;
}

.slide-menu-option a {
    display: flex;


}

.number-posts{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
    
}
.slide-menu-option p{
    margin-left: .6rem;
    font-size: 1.3rem;
    font-weight: bold;   
}

.slide-menu-option a{
    text-decoration: none;
    color: #222222;   
}
.slide-menu-option_loading_option span{
    display: flex;
    cursor: pointer;
}
.slide-menu-option_options{
    margin-left: 8rem;
    margin: 0 0 4rem 6rem;
}

.slide-menu-options_content{
    display: flex;
    padding: .5rem 0rem;

}

.slide-menu-options_content_paragraph{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: .5rem;
}

.slide-menu-options_content_done{
    /* PADDING: .5rem 1rem; */
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
    /* border: .2rem solid #3C89C4; */
    border-radius: .4rem;
    color: #3C89C4;
    margin: 0.5rem;
    cursor: pointer;
    /* background-image: url("images/blue_arrow_right.png"); */

}
/* start of side */
/* End of main page */



/* start of create a post page */

.empty-create-post{
    width: 0rem;
}


.post-header-create-post h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.create-post-botton-btn{
    display: flex;
    /* margin-top: 4rem; */
    justify-content: center;
    max-width:100%;
    flex-wrap: wrap;
    
}
.btn-create-post{
    font-size: 1.6rem;   
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    padding: .5rem 1.5rem;
    border: none; 
    border-radius: 10rem;
    margin: 1rem;
    color: #3C89C4;
    font-size: bold;
}

.active_btn_tag{
    background-color: #3C89C4;
    color: #fff;  
}
#iditor{
    width:40% !important;
}
.ql-editor{
    border: 1px solid #c0c0c0;
    height: 15rem !important;
    outline: none;
    margin: 0rem 2rem 0rem 2rem !important;
    border-top: 0;


}
.ql-container.ql-snow {
    border: none !important;
}
.ql-toolbar {
    /* border: 1px solid #222222 !important; */
    border-bottom: rgba(0, 0, 0, 0);
    outline: none;
    margin: 2rem 2rem 0rem 2rem !important;
    
}
.ajax-insert{
    margin-top: 5rem;
}

.insert-data-ajax{
    padding-top: 10rem;
}

.post-create-post{

    /* display: grid;
    grid-template-rows: min-content min-content 1fr; */
    margin-left: 22rem;
    /* width: 76rem; */
    width: 78%;
}

.post-header-create-post{
    background-color: #ffffff;
    /* width: 85vw; */
    height: 4rem;
    grid-row: 1/2;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}
.create-post-tags-title{
    display: grid;
    grid-row:2/3;
    grid-template-columns: 1fr min-content ; 
    padding: 5rem 7rem 0 7rem;


}
.h3-create-post,
.h4-create-post{
    font-weight: bold;
    margin: 0rem 1rem 2rem 1rem;
}
.h4-create-post{
    font-size: 1.3rem;
    color: #c0c0c0;
}
.h3-create-post{
    font-size: 1.8rem;
    
}

.create-post-title-input{
    width: 100%;
    padding: 1.05rem;
    border: .1rem solid;
    outline: 0;
    border-right: 0;
}

.create-post-tags-input{
    width: 100%;
    padding: 1.05rem;
    border: .1rem solid;
    outline: 0;
    border-right: 0;
    border-left: 0;
    
}

.input-create-post-div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.description-create-post{
    padding-top: 2rem;
}
.submit-create-post-body{
    padding: .5rem 2rem;
    color: #3C89C4;
    background-color: #fff;
    outline: none; 
    border-radius: 10rem;
    border: .2rem solid #3C89C4;
    cursor: pointer;
}
.submit-create-post-body:hover{
    color: #fff;
    background-color: #3C89C4;
    border: .2rem solid #3C89C4;
}

.submit_comment{
    padding: .5rem 2rem;
    color: #3C89C4;
    background-color: #fff;
    outline: none; 
    border-radius: 10rem;
    border: .2rem solid #3C89C4;
    cursor: pointer;
}
.submit_comment:hover{
    color: #fff;
    background-color: #3C89C4;
    border: .2rem solid #3C89C4;
}



.add-file-create-post-body{
    margin:0rem 0 0 3rem;
    width: 25%;
}
.create-post-tags-title-container{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}
.create-post-tags-title-container-empty{
    width: 0rem;
}
.create-post-title{
    margin-bottom: 3rem;
    width: 100%;
}
/* end of create a post page */

/* back top btn */
#button-back-top {
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 4rem;
    right: 16rem;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding: .6rem;
  }
  #button-back-top::after {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    color: #fff;
  }
  #button-back-top:hover {
    cursor: pointer;
    /* background-color: #555; */
    /* color: #fff; */
  }

  #button-back-top.show {
    opacity: 1;
    visibility: visible;
  }
  

  /*start of profile page  */
.profile_post_container{
    padding: 3rem;
    
}

#image_profile{
    border-radius: .5rem;
    position: absolute;
    top: 12.8rem;
    width: 12rem;
    height: 12rem;

}
.image_profile{
    display: flex;
    justify-content: center;
}
.profile-content-info{
    height: 30rem;
}

.user_profile_info{
    display: flex;
    justify-content: center;
}
.user_profile_info_name{
    margin-top: 9rem;
}

.user_profile_info_posts_followers{
margin-top: 1.5rem;
font-size: 1.4rem;
font-weight: bold;
line-height: 2.5rem;
padding: 1rem;
}
.form_profile{
    padding: 2rem;
}
.span-button_profile {
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding: 1rem 5.1rem;
    color: rgb(60, 137, 196);
    font-weight: bold;
    text-decoration: none;
    border: .2rem solid rgb(60, 137, 196);
    cursor: pointer;
    outline: none;

    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0rem;
    margin-bottom: 1rem;
}

.span_botton_container_profile{
    width: 100%;
    display: flex;
    height: 4.5rem;
    justify-content: center;

}

.span-button_profile:hover {
    background-color: rgb(60, 137, 196) ;
    color: rgb(255, 255, 255);
    border: .2rem solid rgb(60, 137, 196);
}
.span-button_profile_infollow{
    background-color: rgb(235, 52, 52);
    color: rgb(255, 255, 255);
    border: .2rem solid rgb(235, 52, 52);
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0rem;
    margin-bottom: 1rem;
}
.span-button_profile_infollow:hover{
    background-color: rgb(190, 18, 18);
    border: .2rem solid rgb(190, 18, 18);
}

.span-button__profile__follow{
    background-color: rgb(21, 175, 47);
    color: rgb(255, 255, 255);
    border: .2rem solid rgb(21, 175, 47);
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0rem;
    margin-bottom: 1rem;
}
.span-button__profile__follow:hover{
    background-color: rgb(42, 206, 69);
    border: .2rem solid rgb(42, 206, 69);
}

.tags_profile{
    background-color: #fff;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}
/* end of profile */

/* search resutl */
.search-main{
    position: relative;
}

.main_search_container{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
}
.main_search_box_container{
    width: 67rem;
    background-color: #fff;
    position: absolute;
    top: 46px;
    right: 279px;
    z-index: 999;
    color: #fff; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
}

.main_search_result_header{
    padding: 2rem;
    width: 100%;
    padding: 1.1rem;
    width: 96.8%;
    background-color: #222222;
    margin-bottom: 1rem;
}
.main_search_result_header span{

font-size: 1.8rem;
    font-weight: bold;
    margin-left: 1.2rem;
}
.main_search_result_content{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    color: #222;
    padding: 1rem 0rem 1rem 1rem;
}
.main_search_result_content:hover{
    background-color: rgba(60, 137, 196, 0.1);
    cursor: pointer;
}
.main_search_result_reactions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 9rem;
    align-items: center;
    justify-content: space-around;
}
.main_search_result_like{
    display: flex;;
}

.search_result_date{
    width: 7.5rem;
    display: flex;
    align-items: center;
    margin-left: .3rem;
}

.main_search_result_title{
    margin-left: .8rem;
}
.main_search_result_title_active{
    padding: .5rem;
}

/* show all search result */

.show_all_search_result_content{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    padding: 1.2rem 2.2rem;
    margin:.2rem 0rem;

}

.show_all_search_result_content:hover{
   background-color: rgba(60, 137, 196, 0.1);
   cursor: pointer;

}


.show_all_search_result_reactions{
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.show_all_search_result_content_date{
    width: 10rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.show_all_search_result_content_title{
    font-size: 1.4rem;
    font-weight: bold;
    color: #222222;
}

.show_all_search_result_content_subtitle{
    font-weight: bold;
    font-size: 1.1rem;
    color: #908f8f;
}
.show_all_search_result_content_tags span{
font-size: 1.3rem;
    color: #222222cf;
    display: inline-block;
    background: #96d6f56e;
    font-weight: bold;
    padding: .2rem .6rem;
    /* border-radius: .3rem; */
    margin: .4rem .2rem;
}

.main_search_num_results{
    font-weight: bold;
    display: inline-block;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.86);;
    padding: 1rem 1rem 0 1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
  
  .pagination span {
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border:1px solid grey;
    margin:0px 2px;
    color: #171717;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .active {
    background-color: #d2edfb;
    
  }
  
  .pagination span:hover:not(.active) {
      background-color: #ddd;
        cursor: pointer;
    }
    .main_search_pagination_container{
        display: grid;
        grid-template-rows: 1fr min-content;
    }

/* settings page */
.main-content_settings_page{
    height: 100vh;
}

.slide-menu-wraper_setting_page{
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
    transition:background-color 800ms;
}

.slide-menu_setting_page{
    height: 100%;
    width: 25rem;
    background-color: rgb(255, 255, 255);
    padding:0rem 1rem;
    color: #222222;
    z-index: 99;

}



.slide-menu_setting_page .slide-menu-option {
    display: flex;
    padding: 1.5rem 0 1.5rem 0.5rem;
    margin: .2rem 0rem;
}

.setting_container{
    width: 56rem;
    height: 62rem;
    background: #fff;
    position: absolute;
    top: 54%;
    left: 60%;
    z-index: -1;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    padding: 1rem 2rem;
}

.setting_header span {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.setting_title{
    font-size: 1.3rem;
    font-weight: bold;
    color: grey;
    /* color: black; */
    margin: 3rem .5rem;
    display: block;
}

.setting_grid{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.setting_name{
    width: 12rem;
}
.setting_value{
    color: rgb(146, 145, 145);
}
.setting_change_value{
    width: 6rem;
    display: flex;
    justify-content: flex-end;
    

}

.setting_value_category{
    display: flex;
    justify-content: center;
}

.setting_change_value_span{
    color: #7ba3de;
}

.setting_change_value_span:hover{
    cursor: pointer;

}
.toggel_conatiner_setting_page_name{
    display: none;
}

.toggel_conatiner_setting_page_bio{
    display: none;
}

.toggel_conatiner_setting_page_profile_pic{
    display: none;
}
.toggel_conatiner_setting_page_email{
    display: none;
}
.toggel_conatiner_setting_page_password{
    display: none;
}
.toggel_conatiner_setting_page_category{
    display: none;
}

.submit_setting_page{
    display: flex;
    margin: 1rem 0rem;
}

.submit_setting_page_content{
    display: flex;

}
.submit_setting_page_content span{
    padding: .5rem 1rem;
    background-color: #fff;
    border: .1rem solid #222;
    cursor: pointer;
    color: #222222;
}
.toggel_conatiner_setting_page{
    padding-bottom: 0;
    background-color: rgb(230, 230, 230);
    margin: .5rem 0rem;

}

.setting_value_input_field{
    padding: .5rem;
}

.setting_value_textarea{
    padding: .5rem;
    background-color: whitesmoke;
    font-size: 1.3rem;
}

#main-nav_setting_page{
    width:100%;
    height: 5.1rem;
    position: fixed;
    background-color: #fff ;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;    
}

.email_already_used{
    text-align: right;
    padding: 1rem 0rem;
    color: red;
    font-weight: bold;
}
.submit_setting_value_profile_pic{
background-color: #ffffff;
border: .1rem solid #222;
font-size: 1.2rem;
padding: .5rem 1rem;
font-weight: bold;
cursor: pointer;
}
/* media query */
@media (max-width: 1500px) and (min-width: 1400px){
    .post-create-post{
        width: 78%;
    }
}
@media (max-width:1300px){
    .post-create-post{
        width: 100%;
    }
    html{
        font-size: 62.5%;
    }
    /* .main-page{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .right{
        grid-row: 1/2;
    }
    .left{
        grid-row: 2/3;
        
    }
    .right-content{
        display: none;
    }
    .middle-content{
        margin-top: 3rem;
    }
    
    .right .main-page-footer{
        margin-top: 3rem;
    } */
    
    .middle-content .log-in:hover{
        background-color: #fff;
        
        color: rgb(0, 0, 0);
        
    }
    .empty-main-content1{
        width: 22rem;
    }
    .post{
        margin-left: 0rem;

    }
    .bottom-post{
        padding: 0 3rem !important;
    }
    .bottom-post_comment{
        padding: 0 3rem !important;
    }
    .slide-menu-option {
        margin:1.5rem 0 1rem 1rem;
    }
    .slide-menu{
        width: 20rem;
    }
    .side {
        width: 31rem;
    }
    
    .user-main{
        width: 21.5rem;
    }
    .main-content{
        width: 98vw;
}
.main-content_main_page{
    width: 98vw;
}
}
@media(max-width: 1200px){
    .bottom-post{
        padding: 0 2rem !important;
        margin: .5rem 0rem;
    }
    .bottom-post_comment{
        padding: 0 2rem !important;
        margin: .5rem 0rem;
    }
    
}

@media(max-width: 1100px){
    .slide_menu_setting{
        width: 25rem !important;
        display: block !important;
    }
    .slide-menu{
        display: none;
    }
    .empty-main-content1{
        width: 0;
    }
    .user-main{
        width: 10rem;
    }
    #main-nav{
        grid-template-columns :min-content 1fr min-content;
    }
    .user-main {
        width: 21.5rem;
    }
    .navigation-icons{
        width: 25rem;
    }

    .setting_container{
        left: 65%;
    }
    .close_slide{
        display: block;
    }
    
}

@media(max-width: 900px){
    #button-back-top{
        display: none;
    }
    .side{
        display: none;
    }
    .main-content{
        padding-top:6rem;
        display: grid;
        grid-template-columns:1fr; 
        width: 99vw;
        overflow: hidden;
    }
    .post{
        margin: 1rem;
        border-radius: 0 0 0 0;
        height: 100%;
        width: 98vw;
    }
    
    .user-main{
        width: 21.5rem;
    }
    .navigation-icons{
        width: 25rem;
    }

    .profile_post_container{
        padding: 1rem;
    }
    
    .empty-main-content1{
        display: none;
    }

    .slide_menu_setting{
        display: none !important;
    }
    .setting_container {
        left: 50%;
        width: 85%;
        height: 85%;
    }
}

@media(max-width: 800px){
    .main-content {
        width: 99vw;
    }
    .navigation-icons{
        margin-right: 0rem;

    }
    .post{
        margin: .5rem;
        width: 98vw;
    }
    .user-name-menu{
        font-size: 1.3rem;
        font-weight: bold;
    }
    .fa-bars{
        font-size: 1.6rem;
    }

}

@media(max-width: 730px){
    .user-name-menu-span{
        display: none;
    }
    #main-nav {
        grid-template-columns: min-content 1fr min-content;
    }
    .navigation-icons{
        width: 22rem;
    }
    .user-main{
        width: 5rem;
    }
    .create-post-tags-title{
        padding: 0rem 2rem 0 0rem;
    }
    .user-main a {
        margin: 0 1rem 0px 1rem;
    }
}

@media(max-width: 530px){
    
}

@media(max-width: 600px){
    .span-icon-name{
        display: none;
    }
    .post-container {
        margin: 2rem 2rem;
    }
    
}

@media (min-height: 1000px) and (min-width: 700px){
    
    .middle-content{
        margin-top: 8rem;
    }
    .right .main-page-footer{
        margin-top: 15rem;
    }
    .right .main-page-footer a {
        font-size: 1.6rem;
    }

}


@media (max-width:560px){
    .right{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        height: 100vh;
    }
    .middle-content{
        grid-row: 1/2;
        margin-top: 0rem;

    }
    .left{
        display: none;    
    }
    .right .main-page-footer{
        grid-row: 2/3;
        height: 4rem;
        margin-bottom: 2rem;
    }
    .show_all_search_result_reactions{
        width: 8rem;
    }
    .show_all_search_result_content{
        padding: 1.2rem 0rem;
    }

}


@media (max-width:480px){
  
    .middle-content{
        padding: 2rem;
        grid-row: 1/2;
        margin-top: 0rem;

    }

    .middle-content h1{
        font-size: 2rem;
        margin-top: 3rem;

    }

    .middle-content h4{
        font-size: 1.6rem;

    }

    .middle-content .log-in,
    .middle-content .sign-up{
       width: 100%;
    }

    .bg-modal {
        width: 100%;
        height: 100%;
       
    }
    
    .modal-contents {
        height: 100vh;
        width: 100%;
        margin-top: 3rem;
     
    }   
    
   #conditions{
    margin: 1rem 0 0 0;
   }

   .images-user-post {
    height: 3rem;
    width: 3rem;
    }
    .post-body-text span{
        font-size: 1.2rem;
    }
    .post-body-text h4{
        font-size: 1.6rem;
    }
    .fa-cog{
        display: none;
    }
    .home_icon{
        display: none;
    }
    .navigation-icons{
        width: 13rem;
    }

}

/* styling tags from step2 registration */
.scroling-div-step2-register{
    display: none;
    justify-content: center;
    margin-top:0rem;
}
#text_area_step2_bio{
    width: 95%;
}
.tags_suggestion{
    display: flex;
    justify-content: space-between;
    border: 0.1rem solid rgb(99, 99, 99);
    padding: 1rem;
    margin: 0rem 0.3rem .3rem 0rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    background: #d1e4f2;
    
}
.tags_suggestion:hover{
    background-color:rgba(60, 137, 196, 0.1) ;
    border: 0.1rem solid rgb(71, 71, 71);

}

.tag_name{
    margin-right: 1rem;
    color: #222222;
    font-weight: bold;
}
.tags_value{
    font-size: 1.3rem;
    margin: .1rem 0.3rem;
    border: .1rem solid grey;
    padding: .2rem 1.5rem;
    font-weight: bold;
    border-radius: .5rem;
    display: flex;
    background:#D1E4F2 ;
}

.delete_tag{
        color: red;
        font-size: 3rem;
        font-weight: bold;
        transform: rotate(45deg);
        margin-left: 1.2rem;
        display: inline-block;
        margin-right: 1rem;
        cursor: pointer;
    }

.delete_title{
    color: red;
        font-size: 3rem;
        font-weight: bold;
        transform: rotate(45deg);
        margin-left: 1.2rem;
        display: inline-block;
        margin-right: 1rem;
        cursor: pointer;
}
.top_tag{
    display: flex;
    border: .1rem solid;
    padding: 1.85rem 0rem;
    border-right: 0;
}

.bottom_tag{
    display: flex;
    border: .1rem solid;
    padding: 0rem 0rem;
    border-left: 0;
}

.likes_dislikes_display_number{
    display: flex;
}
.like-btn-text{
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        margin-left: .8rem;
        font-weight: bold;
        color: #222;
    
}  
.like-details{
    font-size: 1.3rem;
    font-weight: bold;
}
.review_create_post{
    padding: 3rem 4rem;
}
.input-create-post-title{
    margin: 2rem;
}
.input-create-post-tags{
    margin: 2rem;
}

.post-header-create-post_header{
    display: flex;
    justify-content: space-between;
}
.results_container_tags{
    display: none;
    /* display: flex; */
    justify-content: center;
    margin-top:2rem;
    height:123px;
    width:100%;
    overflow:auto;
}

.select_category{
    width: 93%;
    padding: 1rem;
    margin: 1rem;
    border: .1rem solid;
}
.results_container_title{
    display: none;
    /* display: flex; */
    justify-content: center;
    margin-top:2rem;
    height:186px;
    width:100%;
    overflow:auto;
}
.tags_create_post{
    width: 100%;
}

.title_create_post{
    width: 100%;
}

#trumbowyg-demo{
    font-size: 1.3rem;
    font-weight: bold;
    max-width: 76rem !important;
}

.trumbowyg-box, .trumbowyg-editor{
    min-height: 15rem !important;
}

.trumbowyg-button-pane{
    z-index: 1 !important;
}
.next_botton_create_post{
    float: right;
    display: flex;
    justify-content: flex-end;
    padding: .5rem 2rem;
    color: #3C89C4;
    font-size: 1.3rem;
    font-weight: bold;
    border: .2rem solid #3C89C4;
    width: 3%;
    margin: 1rem 3rem;
    border-radius: .3rem;
    cursor: pointer;
}
.create-post-tags{
    width: 100%;
}
.next_previous_button_create_post{
    float: right;
    padding: .5rem 2rem;
    border: .2rem solid #3C89C4;
    color: #3C89C4;
    font-weight: bold;
    border-radius: 0.2rem;
    cursor: pointer;
}

.next_previous_button_create_post:hover{
    
    border: .2rem solid #3C89C4;
    color: #fff;
    background-color:#3C89C4 ;
}

.next_privious_botton_flex{
    display: flex;
    justify-content: space-between;
    margin: 2rem 6.8rem;
}

.slide-menu-options_content {
  display: block;
  position: relative;
  padding-left: 16px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

/* Hide the browser's default radio button */
.slide-menu-options_content input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark_show_post_option {
    position: absolute;
    top: 4px;
    left: -11px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.slide-menu-options_content:hover input ~ .checkmark_show_post_option {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.slide-menu-options_content input:checked ~ .checkmark_show_post_option {
  background-color: #3C89C4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_show_post_option:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.slide-menu-options_content input:checked ~ .checkmark_show_post_option:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.slide-menu-options_content .checkmark_show_post_option:after {
    top: .45rem;
    left: .45rem;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: white;
}

.followed_list_header_title{
    font-size: 2rem;
    color: #222;
    display: flex;
    justify-content: center;
}

.followed_container{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    padding: 1rem 2rem;
}
.followed_container:hover{
    background-color: rgba(60, 137, 196, 0.1);
}

.followed_info{
    display: flex;
    justify-content: center;
   flex-direction: column;
}

.followed_user_name{
    font-size:1.3rem;
    font-weight: bold;
}

.followed_full_name{
    font-size:1.2rem;
    font-weight: bold;
    color: rgb(100, 99, 99);
}
.infollow_followed_user_div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
}

.infollow_followed_user{
    font-size: 1.2rem;
    background-color: rgb(216, 77, 77);
    color: #fff;
    font-weight: bold;
    border: .2rem solid;
    padding: .5rem 2rem;
    margin-right: 5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.infollow_followed_user:hover{
    background-color: rgb(179, 41, 41);

}

.navigation-icons img{
    height: 1.9rem;
}
.bottom_post_componment_mark_post{
    display: flex;
    justify-content: center;
    align-items: center;
}
